body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #a84b4b;
  }

main {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  max-width: 1280px;
  }

ol, ul {
    list-style-type: none;
  }

.time-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    padding-top: 20px;
  }

#clock-container {
    width: auto;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
  }

#clock-container h1 {
  color: white;
  font-size: 18px;
  margin: 10px;
}

#time, #date {
  color: #f4f4f4;
  opacity: 70%;
}

#time {
  font-size: 48px;
  font-weight: bold;
}

#date {
  font-size: 24px;
}

#message {
  color: white;
  margin: 10px;
  font-size: 20px;
}

#weather-container {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  height: auto;
  text-align: center;
  margin-bottom: 20px;
}
  
#weather-container h1 {
  display: flex;
  font-size: 24px;
  margin-bottom: 0;
  color: #ddd; 
}
  
#weather-container p {
  display: flex;
  margin: 5px 0;
  color: #ddd; 
}
  
.weather-icon {
  width: 80px;
  height: 80px;
  }

.current-weather{
  display: flex;
}

.grados {
  display: flex;
  font-size: 48px;
}

.otros-datos {
  color: #ddd;
  font-size: 13px;
  text-align: left;
}

#hour-list{
    display: flex;
    overflow-x: scroll;
    padding-left: 0;
    margin: 0;
  }

#hour-list::-webkit-scrollbar {
    height: 5px; 
  }
  
#hour-list::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px; 
  }
  
#hour-list::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px; 
  }
  
#hour-list::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  
.forecast-item {
    list-style-type: none;
    margin: 7px;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
  }
  
.forecast-item img {
    width: 50px;
    height: 50px;
  }
  
.forecast-item p {
    margin: 5px 0;
    color: #ddd;
  }

.pass-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    color: azure;
    padding: 20px;
    border-radius: 10px;
  }

.pass-container h2 {
  font-size: 20px;
}

input[type="number"] {
    padding: 5px;
    border: none;
    border-radius: 5px;
}

button {
  background-color: #eba300;
  color: #000000;
  border: none;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

#passwordResult {
  font-size: 18px;
  color: #ffe5c1;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 0;
    padding: 10px;
    border-bottom: 1px solid white;
  }
  
footer nav {
    display: flex;
    justify-content: center;
    gap: 20px; 
  }

  footer nav a img {
    filter: brightness(0) invert(1); 
    transition: filter 0.3s;
  }
  
  footer nav a img:hover {
    filter: brightness(0) invert(0.7); 
  }


  