body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #6dd5fa, #ffffff);
    color: #333;
    margin: 0;
  }
  
  #weather-container {
    background: transparent;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    height: 225px;
    text-align: center;
  }
  
  h1 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  p {
    margin: 5px 0;
  }
  
  .weather-icon {
    width: 100px;
    height: 100px;
  }
  
  .hourly-forecast {
    margin-top: 20px;
    padding-bottom: 10px;
  }

  #hour-list{
    display: flex;
    overflow-x: scroll;
    padding-left: 0;
  }

  #hour-list::-webkit-scrollbar {
    height: 5px; 
  }
  
  #hour-list::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px; 
  }
  
  #hour-list::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px; 
  }
  
  #hour-list::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  
  .forecast-item {
    list-style-type: none;
    background: transparent;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
  }
  
  .forecast-item img {
    width: 50px;
    height: 50px;
  }
  

  .forecast-item p {
    margin: 5px 0;
  }

  footer {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  footer nav {
    display: flex;
    justify-content: center;
    gap: 20px; 
  }

  